<form id="select" action="{% url 'select' %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
    <h1>{{ user.username }} 로그인 중</h1>
    {{ accountUserInformationForm.as_table }}
    <button id="select" name="select" type="submit">Register</button>
    {% endif %}
</form>
<!-- <li>
            <form action="" method="POST">
                <button type="submit" name="targetchoice"
                    value="{{ target.targetname }}">{{ target.targetname }}</button>
            </form>
        </li>
        <li>
            <form action="" method="POST">
                <button type="submit" name="activitychoice"
                    value="{{ activity.activityname }}">{{ activity.activityname }}</button>
            </form>
        </li> -->

<!-- {% if user.is_authenticated %}
<h1>{{ user.username }} 로그인 중</h1>
{% endif %}
<form id="select" action="{% url 'select' %}" method="POST">
    {% csrf_token %}
    {% if targetlist %}
    <h1>대상</h1>
    <select name="target" id="">
        <option value="" selected>대상</option>
        {% for target in targetlist %}
        <option name="targetchoice" value="{{ target.targetname }}">{{ target.targetname }}</option>
        {% endfor %}
    </select>
    {% endif %}
    <br>
    <br>
    <br>
    {% if activitylist %}
    <h1>활동</h1>
    <select name="activity" id="">
        <option value="" selected>활동</option>
        {% for activity in activitylist %}
        <option name="activitychoice" value="{{ activity.activityname }}">{{ activity.activityname }}</option>
        {% endfor %}
    </select>
    {% endif %} -->
<!-- <br>
    <br>
    <br>
    <button id="select" name="select" type="submit">Register</button>
</form> -->