{% if user.is_authenticated %}
<h1><a href="/{{ user.username }}">{{ user.username }}</a> 님 환영합니다.</h1>
<form id="post" method="POST" action="{% url 'post' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ imagePostForm }}
    {{ reviewPostForm }}
    <!-- {{ accountUserCreationForm.profile_image.label_tag }}
    {{ accountUserCreationForm.profile_image }}
    {{ accountUserCreationForm.profile_image.errors|striptags }} -->
    <button id="post" name="post" type="submit">Post</button>
</form>
{% endif %}